<!DOCTYPE html>
<html>
<head>
    <title>Clicker Game !</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
</head>
<body>
<a href="/leaders">Перейти к странице лидеров</a>
<p id="money" class="money-text" th:text="${score} + ' е-балл'">0 е-балл</p>

<button id="main-clicker" class="clicker">
    <img id="logo-clicker" src="img/money_logo.webp" draggable="false" class="clicker">
</button>

<button id="b1" class="button" disabled><b></b>х2 тапа в нажатие</button>
<button id="b2" class="button" disabled><b></b>+5 в секунду</button>
<button id="b3" class="button" disabled><b></b>х2 авто-тап</button>

<form id="scoreForm" action="save" method="POST" style="display:none;">
    <input type="hidden" name="score" id="scoreInput">
</form>

<input type="hidden" id="clickMultiplier" value="1">
<input type="hidden" id="autoGainBonus" value="0">
<input type="hidden" id="autoMultiplier" value="1">

<script src="/js/script.js"></script>

</body>
</html>
