<!DOCTYPE html>
<html>
<head>
    <title>Clicker Game !</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Подключение CSS -->
    <meta charset="utf-8">
</head>
<body>
<!-- PLAYER MONEY -->
<p id="money" class="money-text">0 е-балл</p>

<!-- MAIN CLICKER BUTTON -->
<button id="main-clicker" class="clicker">
    <img id="logo-clicker" src="img/money_logo.webp" draggable="false" class="clicker">
</button>

<!-- SHOP BUTTONS -->
<button id="b1" class="button" disabled><b></b>х2 тапа в нажатие</button>
<button id="b2" class="button" disabled><b></b>+5 в секунду</button>
<button id="b3" class="button" disabled><b></b>х2 авто-тап</button>

</body>
</html>